@import "variables";
@import "typography";
@import "base";
@import "animations";
@import "./pages/auth";
@import "./pages/main";

@import "global-components/button";
@import "global-components/input";
@import "global-components/log";
@import "global-components/panel";
@import "global-components/task";
@import "global-components/timer";

@import "~vue2-animate/src/sass/vue2-animate";

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

