$accent: #E74C3C;
$dark-accent: #C0392B;

$secondary-accent: #3498DB;
$dark-secondary-accent: #2980b9;
$dark: #34495E;
$dark-bg: #2C3E50;

$light-gray: #BDC3C7;
$main: #fff;

$mainFont: 'Open Sans', Arial, sans-serif;
